@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Animación para entrada de imágenes */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

.slide-enter {
  animation: fadeInRight 0.5s ease-out forwards;
}

.slide-exit {
  animation: fadeOutLeft 0.5s ease-out forwards;
}

.slide-enter-reverse {
  animation: fadeInLeft 0.5s ease-out forwards;
}

.slide-exit-reverse {
  animation: fadeOutRight 0.5s ease-out forwards;
}

/* Animación para los indicadores de página */
@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.indicator-active {
  animation: scaleUp 0.3s ease-out forwards;
}